.errors{
    color:red;
    margin:5px 0
}

.city-state-form-div{
    display: flex;
    /* width:100%; */
    /* max-width: 500px; */
}

.form-div{
    display: flex;
    justify-content: center;
}

#create-spot-form{  
    max-width: 500px;
    width: 100%;
    padding:0;
}

input{
    width:98%
}

.create-spot-textarea{
    width: 100%;
}

.Navigation{
    width:1024px;;
}
.comma{
    display: flex;
    flex-direction: column-reverse;
    padding:0 0px 0 10px
}

.city-label,.state-label{
    max-width: 50%;
}

h1,h2,h3,p{
    margin:20px 0
}
