.errors{
    color:red;
    margin:5px 0
}

.city-state-form-div{
    display: flex;
    /* width:100%; */
    /* max-width: 500px; */
}

.form-div{
    display: flex;
    justify-content: center;
}

#create-spot-form{  
    max-width: 500px;
    width: 100%;
    padding:0;
}
.signup-btn{
    padding:20px 0px;
    background-color: red;
    color:white;
    box-shadow: 5px 5px 4px black;
    display: flex;
    justify-content: center;
}
.signup-btn-locked{
    padding:20px 0px;
    background-color: white;
    color:rgb(19, 36, 48);
    box-shadow: 5px 5px 4px black;
}
.signup-btn-locked:hover{    
    cursor: not-allowed;
}

input{
    width:98%
}

.create-spot-textarea{
    width: 100%;
}

.Navigation{
    width:1024px;;
}
.comma{
    display: flex;
    flex-direction: column-reverse;
    padding:0 0px 0 10px
}

.city-label,.state-label{
    max-width: 50%;
}

h1,h2,h3,p{
    margin:20px 0
}
.create-btn-div{
    padding-bottom:2rem;
}
.red{
    color: red;
    /* border-bottom: 2px solid red; */
}
