.spot-details-main{
    display: flex;
    justify-content: center;
    
    
    width:100%;
    /* border:3px solid red; */
}

.spot-details-box{
    display:flex;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    max-width:1024px;
    margin:0;
    flex-direction: column;
    /* border:3px solid red; */
}

.spot-details-div{
    display: flex;
    /* width: 50%; */
    /* margin:0; */
    /* justify-content: center; */
    flex-direction: column;
}
#spot-title-name,#spot-title-info,#spot-host{
    display: flex;
    justify-content: left;
    margin:0;
}


.spot-details-info{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.price-reviews-box{
    display:flex;
    flex-direction: column;
    align-items: space-between;
    border:2px solid rgb(19, 36, 48);
    justify-content: space-between;
    width:300px;
    height:100px;
    border-radius: 20px;
    padding: 20px 20px;
    margin:10px 0px
}

.price-reviews{
    display:flex;
    justify-content: space-between;
}

.reserve-btn{
    height:50px;
    background-color: red;
    color:white;
    box-shadow: 3px 3px black;
}

.images-box{
    display: flex;
    /* grid-template-columns: 50% 50%; */
    width:100%;
    height: 600px;
    padding-bottom: 10px;
    gap: 5px;
    /* border-radius: 50%; */
    /* border:3px solid red; */

    
}

.previmage-div{
    display: flex;
    width: 50%;
  height: 590px;
}

.spot-preview-img{
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
    margin:5px;
    box-shadow: 0 0 3px 1px;
    border-radius: 15px;
    
}

.non-preview-spot-images-div{
    display: flex;
    width: 50%;
    /* grid-template-rows: 50% 50%; */
    /* flex-wrap: wrap; */
    flex-direction: column;
    height:100%;
    /* overflow: hidden; */
}

.top-row-images,.bottom-row-images{
    display: flex;
    height:50%;
    width: 100%;
    object-fit: cover;
    /* margin-bottom: 2.5px; */
    /* border:3px solid red; */
    


}

.spot-grid-img{
    
    width: 100%;
    /* height: 295px; */
    overflow: hidden;
    object-fit: cover;
    margin:5px;
    border-radius: 15px;
    box-shadow: 0 0 3px 1px;
    /* gap:2.5px; */
    /* padding:10px; */
    /* margin-left: 2.5px; */
    /* margin-right: 2.5px; */
    

}

.spot-description-div{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.reviews-section-div{
    border-top: 2px solid rgb(19, 36, 48);
}

#post-review-btn{
    width: fit-content;
    /* background-color: rgb(19, 36, 48);
    color:white;
    box-shadow: 5px,5px; */
    color:white;
    background-color: rgb(19, 36, 48);
    text-decoration: none;
    border:2px solid black;
    padding:2px;
    box-shadow: 2px 2px black;
}

#review-ratings-div{
    font-size: 175%;
}

