.spot-details-main{
    width:1000px;
}

h1,h3{
    display: flex;
    justify-content: left;
}

h2{
    display:flex;
    justify-content: left;
}

.spot-details-box{
    display:flex;
    max-width:1000px;
    flex-direction: column;
}

.spot-details-info{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.price-reviews-box{
    display:flex;
    flex-direction: column;
    align-items: space-between;
    border:2px solid black;
    justify-content: space-between;
    width:300px;
    height:100px;
    border-radius: 20px;
    padding: 20px 20px;
    margin:10px 0px
}
.price-reviews{
    display:flex;
    justify-content: space-between;
}

.reserve-btn{
    height:50px;
    background-color: red;
    color:white;
    box-shadow: 5px 3px ;
}
.images-box{
    display: flex;
    flex-direction: row;

}

.images-div{
    max-width: 50%;
    max-height: 500px;
}

.spot-preview-img{
    height:max-content;
    width:max-content;
    /* object-position: 0 -200px; */
    object-fit: cover;
}
.non-preview-spot-images{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    width: 480px;
    object-fit: cover;
    overflow: hidden;
}

.spot-grid-img{
    width: 220px;
}
