.manage-main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.manage-main-spots{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    /* width:50%; */
    justify-content: center;
    align-items: top;
    max-width: 1000px;
    /* padding-top: 50px; */
    /* border:5px solid red; */

}

.manage-spot-tiles{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    gap:10px;
    /* flex-basis:66.7%; */
    /* border:5px solid red; */
}

.manage-spot-div{
    /* display: flex; */
    box-shadow: 0 0 3px 1px;
    border-radius: 10px;
    min-width: 222px;
    border:transparent;
    border-color: transparent;
    max-width: 200px;
    color:black;   
    justify-content: center;
    padding:10px;
}

.manage-spot-img{

    max-width: 220px;
    max-height: 75%;
    width:220px;
    height: 220px;
    object-fit: cover;
    border-radius: 5px;
}

.spot-tile-desc-top{
    display: flex;
    justify-content: space-between;
}

.manage-spot-btn-span{
    display: flex;
    justify-content: space-between;
}

.update-btn,.delete-btn{
    width: 100px;
    background-color: red;
    color: white;
    border-radius: 10px;
}
.update-btn,.delete-btn:hover{
   cursor: pointer;
}
