.signup-title{
    display: flex;
    justify-content: center;
    font-weight: bold;    
}

.signup-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0px 50px 50px;
    border-radius: 50px;
    min-width: 400px;
    /* border:3px solid red; */
}
.signup-input{
    width: 400px;
}

.signup{
    display: flex;
    flex-direction: column;
    /* border:3px solid red; */
    justify-content: center;
    gap:10px
    /* border-radius: 50px; */

}
.signup-btn{
    padding:20px 0px;
    background-color: red;
    color:white;
    box-shadow: 5px 5px 4px black;
}
.signup-btn-locked{
    padding:20px 0px;
    background-color: white;
    color:rgb(19, 36, 48);
    box-shadow: 5px 5px 4px black;
}

.errors{
    color:red
}