/* TODO Add site wide styles */
body{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(19, 36, 46);
    max-width: 100%;
    object-fit: contain;
}

#root{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* html{
    display: flex;
    justify-content: center;
    max-width: 100%;
} */



