.errors{
    color:red;
    margin:5px 0
}

.city-state-form-div{
    display: flex;
    width:500px;
    /* justify-content:space-evenly; */

}
.form-div{
    display: flex;
    justify-content: center;
}
.update-form-modal{  
    max-width: 580px;
    padding:0;
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    /* max-height: calc(100vh - 250px); */

}

input{
    width:98%
}
.create-spot-textarea{
    width: 98%;
}
select{
    width:100%
}
.Navigation{
    width:1000px;
}
.comma{
    display: flex;
    flex-direction: column-reverse;
    /* align-items:end; */
    /* width:50px; */
    padding:0 0px 0 10px
}

.city-label,.state-label{
    width: 250px;
}

h1,h2,h3,p{
    margin:18px 0
}
#manage-create-spot-btn{
    color:white;
    background-color: rgb(19, 36, 48);
    text-decoration: none;
    border:2px solid black;
    padding:2px;
    box-shadow: 3px 3px black;

}
