.create-review-box{
    display: flex;
    flex-direction: column;
    width: 320px;
}

.review-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review-modal-description{
    display: flex;
    justify-content: center;
    margin:20px;
    /* width: 90%; */
}

.review-stars{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 200%;
}

#filled{
    color: rgb(19, 19, 19);
}

#empty, .errors{
    color: red;
}

.review-modal-title,.star-row, .star-label, .submit-review-btn{
    display: flex;
    justify-content: center;
    margin:0;
}
.review-modal-title{
    margin-top: 20px;
}

#submit-review{
    height:50px;
    background-color:red;
    color:white;
    width: 100%;
    margin:20px;
    box-shadow: 3px 3px black;
}

