
.create-link{
    color: teal;
    padding:0 10px;
    text-decoration: none;
}

.hidden{
    display:none
}


.nav-bar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 2px solid lightgrey;
    /* width:100%; */
    padding:0 50px
}

.profile-menu{
    display:flex;
    justify-content: space-evenly;
    margin:20px 0;
    /* margin-right:20px; */
    /* border:3px solid red; */
}
.menu-btn{
    display: flex;
    justify-content: space-between;
    padding:5px 10px;
    border-radius: 10px;
    /* border:3px solid red; */
}

.ProfileButton{
    display: flex;
    border-radius: 50%;
    gap:10px;
}

.profile-dropdown{    
    position:absolute;
    background-color: white;
    right:15%;
    padding:10px 20px;
    /* margin-right: 200px; */
    border:2px solid black;
    border-radius: 5px;
    box-shadow: 10px;
}
.home-link{
    height: 100px;
    width: 100px;
}
.logo{
    display: flex;
    padding: 0;
    border-radius: 50%;
    border:2mm ridge black;
    max-width: 100%;
    max-height: 75%;
}
#logout-btn{
    border-radius: 20px;
    background-color: rgb(19, 38, 48);
    color:white;
}
.logout-btn-div{
    display: flex;
    justify-content: center;
}